main {
    position: relative;
    top: 120px;
    height: 87.25vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.botao-pagina-entrar {
    position: absolute;
    transform: rotate(-90deg) translateY(195px);
    background-color: var(--corPrimaria);
    padding: 20px;
    border-radius: 8px 8px 0 0;
    font-size: 20px;
    font-weight: bold;
    transition: background-color 250ms ease-in-out;
}

.botao-pagina-entrar:hover {
    background-color: var(--corSecundaria);
}

.botao-pagina-entrar a {
    color: white;
    text-decoration: none;
}

.form {
    position: relative;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 550px;
    text-align: center;
    margin-left: 400px;
}

.form-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    top: 100px;
}

.title {
    font-size: 1.75rem;
    color: var(--corSecundaria);
    margin-bottom: 20px;
}

.input-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid var(--corSecundaria);
    border-radius: 8px;
    padding: 10px;
}

.input-box i {
    margin-right: 10px;
    color: #666;
}

.input-box input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
}

.login-box {
    margin-top: 50px;
}

.login-box button {
    width: 100px;
    padding: 10px;
    background-color: var(--corPrimaria);
    color: white;
    outline: 2px solid var(--corSecundaria);
    outline-offset: 2px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, outline-color 750ms ease;
}

.login-box button:hover {
    background-color: var(--corSecundaria);
    outline-color: var(--corPrimaria);
}

.image-box {
    clip-path: circle();
    background-color: var(--corSecundaria);
    width: 300px;
    height: 300px;
    position: absolute;
    right: -105px;
    transform: translateY(400px) translateX(200px);
    z-index: 15;
    filter: blur(2rem);
    animation: circulo-autenticacao 2.5s ease-in-out 250ms forwards;
}

.image-box img {
    object-fit: contain;
    height: 550px;
    width: 550px;
    border-radius: 20px;
    position: absolute;
    bottom: 127px;
    z-index: 16;
}

@keyframes circulo-autenticacao {
    to {
        width: 600px;
        height: 600px;
        right: 0;
        background-color: var(--corPrimaria);
        transform: translateY(400px) translateX(200px); 
        filter: none;

    }
}