main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    flex-wrap: wrap;
}
.botao-pagina-entrar {
    position: absolute;
    min-height: 440px;
    background-color: var(--dourado);
    color: white;
    padding: 20px;
    border-radius: 8px 0 0 8px;
    font-size: 25px;
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    z-index: 1;
    margin-left: 327px;
}
.form {
    position: relative;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 400px;
    margin-top: 112px;
}
.form {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
}

.input-box i {
    margin-right: 10px;
    color: #666;
}

.input-box input {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #ccc;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-box button:hover {
    background-color: #b59f68;
    color: white;
}

.image-box {
    width: 100%;
    max-width: 300px;
}

.image-box img {
    width: 100%;
    border-radius: 20px;
}

.image-box {
    position: absolute;
    left: 77.5%;
    top: 76%;
    transform: translateY(-50%);
    background-color: #b59f68;
    padding: 20px;
    border-radius: 150% 0% 0% 0%;
    z-index: 1;    
}