main {
  position: relative;
  top: 110px;
  padding: 1rem;
}

#boas-vindas {
  color: var(--corSecundaria);
  font-size: 2.5rem;

}

#boas-vindas span {
  color: var(--corPrimaria);
  font-size: 2.5rem;
}

.container-info-usuario {
  outline: 3px solid var(--corSecundaria);
  border-radius: 15px; 
  padding: 1rem;
  width: 80%;
  margin: 0 auto;
}

#imagem-usuario {
  border-radius: 50%;
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.info-usuario {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  font-size: 1.90rem;
}

.informacao-lista {
  line-height: 50px;
  align-self: center;
}

.logout {
  text-align: center;
}

.logout button {
  background-color: var(--corPrimaria);
  outline: 2px solid var(--corSecundaria);
  outline-offset: 5px;
  border-radius: 15px;
  border: none;
  color: white;
  padding: 10px;
  width: 100px;
  cursor: pointer;
  transition: background-color 250ms ease-in-out, outline-color 300ms ease-in-out, scale 350ms ease;
}

.logout button:hover {
  background-color: #c1121f;
  outline-color: #c1121f95;
  scale: 1.1;
}
