.container-principal {
    padding: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 120px;
}

.container-informacoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--corSecundaria);
    outline: 2px solid var(--corSecundaria);
    outline-offset: 5px;
    padding: 1.25rem;
    border-radius: 15px;
    height: min-content;
    gap: 2rem;
}

.informacoes-pet {
    display: flex;
    align-items: center;
    gap: 25px;
}


.informacoes-pet img {
    object-fit: cover;
    height: 600px;
    width: 600px;
    border-radius: 15px;
    background-color: blue;
    border: 2px solid var(--corFundo);
    /* border-spacing: 5; */
}

.lista-informacoes {
    background-color: var(--corPrimaria);
    outline: 2px solid var(--corFundo);
    outline-offset: 5px;
    border-radius: 15px;
    padding: 1rem;
    color: white
}

.botao-adotar {
    background-color: var(--corPrimaria);
    text-align: center;
    border: 0.5px solid white;
    border-radius: 5px;
    font-size: 15px;
    width: 120px;
    height: 25.5px;
    color: white;
    cursor: pointer;
    margin: 0 auto;
    transition: background-color 250ms ease, border-color 500ms ease, scale 250ms ease;
}

.botao-adotar:hover {
    background-color: var(--corSecundaria);
    border-color: var(--corPrimaria);
    scale: 1.1
}
