.inicio-container {
  padding: 2rem;
}

.imagem-gato {
  object-fit: contain;
  width: 45rem;
}

.hashtag {
  color: var(--dourado);
  font-weight: bold;
  font-size: 3ch;
}

.mensagem-container {
  display: flex;
  font-size: 1.4rem;
  padding: 10px 20px;
  display: flex;
  gap: 0.85rem;
}

.mensagem-texto:nth-child(1) h2 {
  margin-bottom: 20px;
}

.mensagem-texto:nth-child(1) h4 {
  margin-top: 20px;
}

.container-cachorro img {
  object-fit: contain;
  width: 28rem;
}
