main {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.inicio-container {
  padding: 1rem;
  overflow: hidden;
  height: 100;
}

.imagem-gato {
  object-fit: contain;
  width: 45rem;
}
ǵ
.hashtag {
  color: var(--dourado);
  font-weight: bold;
  font-size: 3ch;
}

.hashtag::before {
  content: "#";
  color: #72B5A4;
  font-size: 1.5ch;
}

.mensagem-container {
  display: flex;
  font-size: 2.2rem;
  padding: 10px 20px;
  display: flex;
  gap: 0.85rem;
  align-items: center;
  justify-content: space-between;
}

.mensagem-texto:nth-child(1) h2 {
  margin-bottom: 20px;
}

.mensagem-texto:nth-child(1) h4 {
  margin-top: 20px;
  font-size: 1.2rem;
}

.container-cachorro {
  justify-items: end;
  position: relative;
  width: 33%;
  z-index: 10;
}

.container-cachorro img {
  object-fit: contain;
  width: 29.2rem;
}

.triangulo {
  background-color: #72B5A4;
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  width: 900px;
  height: 900px;
  position: absolute;
  right: 0;
  top: 80px;
  z-index: 9;/
}