.container-principal {
    padding: 1.25rem;
    position: relative;
}

.mapa {
    min-width: 100%;
    min-height: 350px;
    margin-top: 25px;
}

h3 {
  color:#72B5A4;
  font-size: 1.5rem;
}

footer {
    background-color:#72B5A4;
    display: flex;
    margin-top: 100px; 
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.rodape-animais {
    position: fixed;
    bottom: 25px; 
    transform: translateX(50%);
    right: 50%;
    object-fit: contain;
    z-index: 1;
}