:root {
    --dourado:#C9B06D;
    --douradoClaro:#E8DEC2;
    --corBorda:#757575;
    --corSecundaria:hsl(44, 53%, 72%);
    --corBotaoSecundario: #e8b931;
    --transicaoCor: color 500ms ease-in;
}

body {
    font-family: "Inter", sans-serif, system-ui;
    margin: 0;
    padding: 0;
    /* background-color: var(--douradoClaro); */
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px var(--corBorda);
    box-shadow: 0 2px 5px var(--corBorda);
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 14;
}

.inicio-button {
    text-decoration: none;
    transition: transform 1s ease;
}

.inicio-button .logo-container .logo {
   transition: filter 500ms ease-in-out;
   background-clip: border-box;
   
}

.inicio-button:hover .logo-container .logo {
    animation: heartbeat 2s ease-in-out infinite;
    filter: hue-rotate(80deg) 
}

.inicio-button .logo-container h1 {
    color: var(--dourado);
    font-size: 1.75rem;
}

.inicio-button:hover .logo-container h1 {
    color: #72B5A4;
    transition: var(--transicaoCor);
}

.logo-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo {
    object-fit: contain;
    width: 25%;
}

.lista-navegacao {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.lista-navegacao li {
    color:#72B5A4;
    transition: var(--transicaoCor), transform 125ms ease-in;
}

.lista-navegacao li:hover {
    transform: scale(1.08);
}

.lista-navegacao li:hover i {
    color: #72B5A4;
    transition:  var(--transicaoCor), font-size 300ms ease;
}

.lista-navegacao li a {
    text-decoration: none;
}

.container-autenticacao {
    display: flex;
    gap: 1rem;
    text-align: center;
    align-items: center;
}

.container-autenticacao a {
    text-decoration:none;
    color:white;
    background-color: #C9B06D;
    padding: 0.30rem;
    flex-grow: 1;
    border-radius: 0.5rem;   
    transition:  var(--transicaoCor), transform 300ms ease-in-out;
}

.container-autenticacao a:hover {
    background-color: #72B5A4;
    transform: scale(1.08);  
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
        opacity: 1
    }
    50% {
        transform: scale(1.1); 
        opacity: .8
    }
    55% {
        transform: scale(1.2); 
        opacity: .7
    }
   75% {
        transform: scale(1.1);
        opacity: .8
    }
    100% {
        transform: scale(1); 
        opacity: 1
    }
}