:root {
    --corPrimaria: #C9B06D;
    --corPrimariaClaro: #E8DEC2;
    --corSecundaria: #72B5A4;
    --corBorda: #757575;
    --corBotaoSecundario: #e8b931;
    --corFundo: #e8f1f2;
    --transicaoCor: color 500ms ease-in;
    --corErroFormulario: #ff6961;
}

body {
    font-family: "Inter", sans-serif, system-ui;
    margin: 0;
    padding: 0;
    background-color: var(--corFundo);
}

.cabecalho {
    background-color: var(--corFundo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px var(--corBorda);
    box-shadow: 0 2px 5px var(--corBorda);
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 14;
}

.inicio-button {
    text-decoration: none;
    transition: transform 1s ease;
}

.inicio-button .logo-container .logo {
   transition: filter 500ms ease-in-out;
   background-clip: border-box;
   
}

.inicio-button:hover .logo-container .logo {
    animation: heartbeat 2s ease-in-out infinite;
    filter: hue-rotate(80deg) 
}

.inicio-button .logo-container h1 {
    color: var(--corPrimaria);
    font-size: 1.75rem;
}

.inicio-button:hover .logo-container h1 {
    color: var(--corSecundaria);
    transition: var(--transicaoCor);
}

.logo-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo {
    object-fit: contain;
    width: 25%;
}

.lista-navegacao {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.lista-navegacao li {
    color: var(--corSecundaria);
    transition: var(--transicaoCor), transform 125ms ease-in;
}

.lista-navegacao li:hover {
    transform: scale(1.08);
}

.lista-navegacao i {
    font-size: 1.25rem;
    color: var(--corPrimaria);
}

.lista-navegacao li a {
    text-decoration: none;
    color: var(--corSecundaria);
}

.lista-navegacao li:hover a {
    color: var(--corPrimaria);
}

.lista-navegacao li:hover i {
    color: var(--corSecundaria);
}

.container-autenticacao {
    display: flex;
    gap: 1rem;
    text-align: center;
    align-items: center;
}

.container-autenticacao a {
    text-decoration: none;
    color: white;
    background-color: #C9B06D;
    padding: 0.30rem;
    flex-grow: 1;
    border-radius: 0.5rem;   
    transition:  var(--transicaoCor), transform 300ms ease-in-out;
}

.container-autenticacao a:hover {
    background-color: var(--corSecundaria);
    transform: scale(1.08);  
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--corPrimariaClaro);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--corPrimaria);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--corSecundaria);
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1); 
        opacity: .8;
    }
    55% {
        transform: scale(1.2); 
        opacity: .7;
    }
   75% {
        transform: scale(1.1);
        opacity: .8;
    }
    100% {
        transform: scale(1); 
        opacity: 1;
    }
}

.erro-autenticacao-login {
    color: var(--corErroFormulario);
    font-size: 15px;
}

.spinner-carregando {
    margin: 0 auto;
    border: 2px solid var(--corFundo); 
    border-top: 4px solid var(--corSecundaria);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: gira-spinner 2s linear 250ms infinite;
}

@keyframes pulsa-spinner {
    0% {
        opacity: 1;
        color: var(--corPrimariaClaro);
    }
    50% {
        opacity: 0.5;
        color: var(--corSecundaria);
    }
   100% {
        opacity: 1;
        color: var(--corFundo);
    }
}

@keyframes gira-spinner {
    0% { 
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg); 
    }
}