:root {
    --dourado:#C9B06D;
    --douradoClaro:#E8DEC2;
    --corBorda:#757575;
    --corSecundaria:hsl(44, 53%, 72%);
    --corBotaoSecundario: #e8b931;
    --corFundo: #e8f1f2
}

body {
    font-family: "Inter", sans-serif, system-ui;
    margin: 0;
    padding: 0;
    background-color: var(--corFundo);
}

.cabecalho {
    background-color: var(--corFundo);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 2px var(--corBorda);
    box-shadow: 0 2px 5px var(--corBorda);
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 14;
}

.inicio-button {
    text-decoration: none;
    transition: transform 1s ease;
}

.inicio-button:hover .logo-container .logo {
    transform: scale(1.1);  
}

.inicio-button .logo-container h1 {
    transition: color 500ms ease-in;
    color:var(--dourado);
    font-size: 1.75rem;
}

.inicio-button:hover .logo-container h1 {
    color: #72B5A4;
    transition: color 500ms ease-in;
}

.logo-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo {
    object-fit: contain;
    width: 25%;
}

.lista-navegacao {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.lista-navegacao li a {
    text-decoration:none;
    color: black;
    transition: all 250ms ease-in-out;
}

.lista-navegacao li a:hover {
    color: var(--dourado);
    transform: rotate(30deg)
}

.container-autenticacao {
    display: flex;
    gap: 1rem;
    text-align: center;
    align-items: center;
}

.container-autenticacao a {
    text-decoration:none;
    color:white;
    background-color: #C9B06D;
    padding: 0.30rem;
    flex-grow: 1;
    border-radius: 0.5rem;   
}