 .container-doacao {
  display: flex;
  justify-content: space-between;
  top: 120px;
  overflow: hidden;
}

.informacao-doacao {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.doacao-textos {
  padding: 2rem;
  animation: move-texto-doacao 1.75s ease-in-out 250ms forwards;
  translate: -450px;
  filter: blur(50px);
}

.doacao-textos:nth-child(1) h2 {
  margin-bottom: 1rem;
  font-size: 3ch;
  color: var(--corSecundaria);
}

.doacao-textos:nth-child(1) h3 {
  color: var(--corPrimaria);
  font-size: 6ch;
  margin-bottom: 1rem;
}

.doacao-textos:nth-child(1) a {
  font-size: 20px;
  color: var(--corSecundaria);
  text-decoration: none;
  transition: color 250ms ease-in-out
}

.doacao-textos:nth-child(1) a:hover {
  color: var(--corPrimaria);
}

.imagem-patas {
  object-fit: contain;
  width: 800px;
}

.container-qrcode {
  z-index: -1;
  width: 22%;
  min-height: 100vh;
  transform: translateX(400px);
  animation: move-container-qr-code 2s ease-in-out 250ms forwards;
  background-color: var(--corSecundaria);
}

.mao-qrcode {
  object-fit: contain;
  max-width: 60vw;
  max-height: 80vh;
  position: absolute;
  right: 0;
  top: 150px;
} 

.hashtag {
  color: var(--corPrimaria);
  font-weight: bold;
  font-size: 3ch;
}

.hashtag::before {
  content: "#";
  color: var(--corSecundaria);
  font-size: 1.5ch;
  
}

@keyframes move-container-qr-code {
  to {
    transform: translateX(0);
    background-color: var(--corPrimaria);
  }
}

@keyframes move-texto-doacao {
  to {
    translate: 0;
    filter: none;
  }
}